* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 10%, rgba(0,212,255,1) 74%, rgba(9,9,121,1) 90%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}

/* ************************************************** */

.board {
    height: 550px;
    width: 550px;
    margin: 40px auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 1px 1px 10px 1px #ffffff;
}

.row {
    height: 40%;
    width: 100%;
    clear: both;
}
.row-middle {
    height: 20%;
}

/* ************************************************** */

.home {
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    border: 1px solid #000000;
    float: left;
}
.home-right {
    float: right;
}
.home span {
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px #ffffff;
    float: left;
}

.white-circle {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    margin: 10% auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 80%;
}
.circles-row {
    height: 25%;
    width: 100%;
    padding: 0 10px 0 10px;
}
.circles-row-top {
    padding-top: 15px;
}
.circles-row-bottom {
    padding-bottom: 25px;
}
.small-circle {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    margin: 15px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 100%;
    float: left;
}
.xsmall-circle {
    box-sizing: border-box;
    height: 75%;
    width: 75%;
    margin: 5px auto;
    background-color: #9c9a9a;
    border: 1px solid #000000;
    border-radius: 100%;
}

.track {
    float: left;
}
.track-vertical {
    height: 100%;
    width: 20%;
}
.track-horizontal {
    height: 100%;
    width: 40%;
}

.finish {
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    border: 1px solid #000000;
    float: left;
}
.finish-point {
    box-sizing: border-box;
    height: 0;
    width: 0;
}
.finish-point-top {
    border-right: 54px solid transparent;
    border-bottom: 55px solid blue;
    border-left: 54px solid transparent;
    position: relative;
    top: -110px;
    left: 0px;
}
.finish-point-right {
    border-top: 54px solid transparent;
    border-right: 55px solid yellow;
    border-bottom: 54px solid transparent;
    position: relative;
    top: -55px;
    right: -54px;
}
.finish-point-bottom {
    border-right: 54px solid transparent;
    border-top: 55px solid green;
    border-left: 54px solid transparent;
}
.finish-point-left {
    border-top: 54px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 54px solid red;
    position: relative;
    top: -219px;
    left: 0px;
}

/* ************************************************** */

.tiles-row {
    height: 16.6667%;
    width: 100%;
    clear: both;
}
.tile {
    box-sizing: border-box;
    height: 100%;
    width: 33.3333%;
    border: 1px solid #000000;
    float: left;
}
.tiles-row-horizontal {
    height: 33.3333%;
}
.tile-h {
    width: 16.6667%;
}

.start-arrow-top {
    height: 0;
    width: 0;
    margin: 8px auto;
    border-right: 15px solid transparent;
    border-bottom: 18px solid blue;
    border-left: 15px solid transparent;
}
.start-arrow-right {
    height: 0;
    width: 0;
    margin: 2px;
    margin-left: 10px;
    border-top: 15px solid transparent;
    border-left: 18px solid red;
    border-bottom: 15px solid transparent;
}
.start-arrow-bottom {
    height: 0;
    width: 0;
    margin: 10px auto;
    border-right: 15px solid transparent;
    border-top: 18px solid green;
    border-left: 15px solid transparent;
}
.start-arrow-left {
    height: 0;
    width: 0;
    margin: 2px 5px;
    border-top: 15px solid transparent;
    border-right: 18px solid yellow;
    border-bottom: 15px solid transparent;
}

/* ************************************************** */

.token {
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    margin: 6px auto;
    border: 3px#cecdcd outset;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #000000;
    transform: rotate(45deg);
}

/* ************************************************** */

#player-box {
    height: 100px;
    width: 200px;
    margin: 40px;
    border: 3px solid #000000;
    position: fixed;
    bottom: 0;
    right: 0;
}
#player-box .name {
    box-sizing: border-box;
    border-bottom: 3px solid #000000;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px #ffffff;
    padding: 3px;
}
#player-box .bottom-body {
    height: 70%;
    clear: both;
}
#player-box .bottom-body .dice-box {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    padding: 9px;
    float: left;
}
#player-box .bottom-body .dice-box .dice {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px#cecdcd outset;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #000000;
    font-family: cursive;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}
#player-box .bottom-body .dice-box .dice .xsmall-circle {
    background-color: #ffffff;
    margin: 6px auto;
}
#player-box .bottom-body .timer {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    border-left: 3px solid #000000;
    font-family: fantasy;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    float: right;
}

/* ************************************************** */

#about {
    height: 20px;
    width: 150px;
    margin: 40px;
    padding: 5px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
#about a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}