* {
    margin: 0;
    padding: 0;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}

/* ************************************************** */

.board {
    height: 550px;
    width: 550px;
    margin: 25px auto;
    border: 2px solid #000000;
}

.row {
    height: 40%;
    width: 100%;
    clear: both;
}
.row-middle {
    height: 20%;
}

/* ************************************************** */

.home {
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    border: 1px solid #000000;
    float: left;
}
.home-right {
    float: right;
}
.home span {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px #ffffff;
    float: left;
}

.white-circle {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    margin: 10% auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 80%;
}
.circles-row {
    height: 25%;
    width: 100%;
    padding: 0 10px 0 10px;
}
.circles-row-top {
    padding-top: 15px;
}
.circles-row-bottom {
    padding-bottom: 25px;
}
.small-circle {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    margin: 15px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 100%;
    float: left;
}
.xsmall-circle {
    box-sizing: border-box;
    height: 75%;
    width: 75%;
    margin: 5px auto;
    background-color: #9c9a9a;
    border: 1px solid #000000;
    border-radius: 100%;
}

.track {
    float: left;
}
.track-vertical {
    height: 100%;
    width: 20%;
}
.track-horizontal {
    height: 100%;
    width: 40%;
}

.finish {
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    border: 1px solid #000000;
    float: left;
}
.finish-point {
    box-sizing: border-box;
    height: 0;
    width: 0;
}
.finish-point-top {
    border-right: 54px solid transparent;
    border-bottom: 55px solid blue;
    border-left: 54px solid transparent;
    position: relative;
    top: -110px;
    left: 0px;
}
.finish-point-right {
    border-top: 54px solid transparent;
    border-right: 55px solid yellow;
    border-bottom: 54px solid transparent;
    position: relative;
    top: -55px;
    right: -54px;
}
.finish-point-bottom {
    border-right: 54px solid transparent;
    border-top: 55px solid green;
    border-left: 54px solid transparent;
}
.finish-point-left {
    border-top: 54px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 54px solid red;
    position: relative;
    top: -219px;
    left: 0px;
}

/* ************************************************** */

.tiles-row {
    height: 16.6667%;
    width: 100%;
    clear: both;
}
.tile {
    box-sizing: border-box;
    height: 100%;
    width: 33.3333%;
    float: left;
    border: 1px solid #000000;
}
.tiles-row-horizontal {
    height: 33.3333%;
}
.tile-h {
    width: 16.6667%;
}

.start-arrow-top {
    height: 0;
    width: 0;
    margin: 8px auto;
    border-right: 15px solid transparent;
    border-bottom: 18px solid blue;
    border-left: 15px solid transparent;
}
.start-arrow-right {
    height: 0;
    width: 0;
    margin: 2px;
    margin-left: 10px;
    border-top: 15px solid transparent;
    border-left: 18px solid red;
    border-bottom: 15px solid transparent;
}
.start-arrow-bottom {
    height: 0;
    width: 0;
    margin: 10px auto;
    border-right: 15px solid transparent;
    border-top: 18px solid green;
    border-left: 15px solid transparent;
}
.start-arrow-left {
    height: 0;
    width: 0;
    margin: 2px 5px;
    border-top: 15px solid transparent;
    border-right: 18px solid yellow;
    border-bottom: 15px solid transparent;
}